<div align="center" style="font-family: sans-serif"> <!--<div id="featured-product-carousel" class="carousel slide" data-pause="hover" data-wrap="true" data-interval="3000">
      <ol class="carousel-indicators">
          <li data-target="#featured-product-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#featured-product-carousel" data-slide-to="1" class=""></li>
          <li data-target="#featured-product-carousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active">
              <img src="images/promo-product-1.jpg" alt="ABC Auction Deals" class="img-responsive center-block">
          </div>
          <div class="item">
              <img src="images/promo-product-2.jpg" alt="ABC Auction Deals" class="img-responsive center-block">
          </div>
          <div class="item">
              <img src="images/promo-product-3.jpg" alt="ABC Auction Deals" class="img-responsive center-block">
          </div>
      </div>

      <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev');">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="javascript:$('.carousel').carousel('next');">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>--> <!-- Current App's Heading --> <!--<h2 class="well well-sm" id="app-heading">
      Featured Products
  </h2>--> <h3 align="center">Фрукты и овощи</h3> <br> <ul class="list-unstyled" id="items-list"> <li class="col-md-4" ng-repeat="product in ctrl.products"> <div class="row"> <div class="col-xs-4"> <a ng-href="#/product/{{ product.Title }}"> <img ng-src="images/{{ product.Thumb }}" alt="" class="img-responsive"> </a> </div> <div class="product-description-holder col-xs-8" align="left"> <h2><a ng-href="#/product/{{ product.Title }}">{{ product.Title }}</a></h2> <!--<p>{{ product.description }}</p>--> </div> </div> </li> </ul> </div>
