<footer class="text-center" style="margin-top: 20px; margin-bottom: 20px; font-family: sans-serif"> <br> <div id="help-section" align="center"> <br><br> <p style="width: 80%">Этот проект направлен помочь всем нам быть в курсе текущих розничных цен на продукты питания всех категорий. Пока представлены крупнейшие торговые сети г. Ярославля. Для отзывов и предложений можно использовать форму ниже, а также написать нам на <a href="mailto:yar.price@mail.ru">электронный ящик</a>.</p> </div> <div align="center"> <br><br> <div align="center" style="width: 80%"> <div id="disqus_thread"></div> </div><script type="text/javascript">/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'yarprice'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();</script> </div> <p>YarPrice 2015</p> <br> </footer>
